:root {
  --primary-color: white;
  --secondary-color: beige;
  --font-family: Poppins;
}
.body {
  font-family: var(--font-family);
  min-height: 100vh;
  margin: 0;
}

.container-md {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.weather-app {
  max-width: 800px;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url("../images/bluesky.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.weather-app-wrapper {
  max-width: 800px;
  margin: 30px auto;
}

ul {
  margin: 0 20px;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

ul li:first-child {
  margin-bottom: 5px;
}

.high .low {
  font-weight: bold;
}

.units {
  color: var(--primary-color);
}

.weather-temperature img {
  margin: -10px 0 5px 0;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: var(--primary-color);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-forecast {
  margin-top: 50px 0 0 -10px;
  text-align: center;
  color: var(--secondary-color);
  font-weight: 200;
  background: rgba(171, 180, 189, 0.5);
  padding: 10px;
  border-radius: 30px;
}

.day-of-week {
  font-weight: 600;
  color: var(--primary-color);
}

.min-max-container {
  margin: 0 70px;
  color: var(--primary-color);
}

#current-city {
  color: var(--primary-color);
  margin-left: 20px;
  text-transform: capitalize;
}

#date-time {
  margin: 0;
}

.signature {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  margin-top: -30px;
}

@media (max-width: 768px) {
  .weather-temperature strong {
    font-size: 48px;
  }

  .weather-forecast {
    margin-top: 20px;
  }

  .min-max-container {
    margin: 0 90px;
  }
}

@media (max-width: 576px) {
  .weather-temperature strong {
    font-size: 32px;
  }

  .weather-temperature .units {
    top: -12px;
  }

  .weather-forecast .col {
    margin-bottom: 30px;
  }
}
